@page
@model Capstone.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}

<html>
<body>
    <h1>Please login</h1>
    <form method="POST">
        <label for="Username">Username:</label><br>
        <input type="text" name="username" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>